body {
    background-image: url('../images/bg2.jpg');
    background-size: 100%;
    background-attachment: fixed;
    color: rgb(114, 100, 100);
}

.div1 {
    background-color: white;
    opacity: 0.95;
}

.div2 {
    background-color: black;
    opacity: 0.95;
    color: rgb(201, 190, 190);
}

.center-text {
    text-align: center;
    opacity: 1.0;
}

.space{
    height: 5em;
}