body {
    background-image: url('../images/bg1.jpeg');
    background-size: 100%;
    background-position: fixed;
    color: rgb(114, 100, 100);
}

.card {
    opacity: 0.7;
}

.center-text {
    text-align: center;
    opacity: 1.0;
}

